<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="./img/weather_gray.png">
    <link rel="stylesheet" href="./css/styles.css">
    <title>{{title}}</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Orlin Ivanov.</p>
        <p> It uses data from <a href="https://www.mapbox.com/">mapbox.com</a> and <a href="https://darksky.net/">darksky.net</a>.</p>
    </div>
    {{>footer}}
</body>

</html>